.settings/
.myeclipse/
.gradle/
target/
*/.settings
*/.classpath
*/.project
.classpath
.project
conf/config.ini
log/
.idea/
.svn/
.externalToolBuilders/
gradle/
.recommenders/
.metadata/
build/
vendor/
